.background {
  viewport-fill: blue;
}

#blockOff {
  x: 5%;
  y: 10%;
}

#takeOff {
  x: 60%;
  y: 10%;
}

#landing {
  x: 5%;
  y: 95%
}

#blockOn {
  x: 60%;
  y: 95%;
}

.timeHolder {
  font-size: 30;
  text-length: 10;
}

#nextTime {
  font-size: 30;
  text-length: 40;
  text-anchor: middle;
  x: 50%;
  y: 37%;
}


#clockLabel {
  font-size: 70;
  font-family: System-Bold;
  text-length: 20;
  text-anchor: middle;
  x: 50%;
  y: 50%+30;
  fill: white;
}

#dateLabel {
  font-size: 30;
  font-family: System-Bold;
  text-length: 20;
  text-anchor: middle;
  x: 50%;
  y: 50%+60;
  fill: white;
}

#flightTimeLabel {
  text-anchor: middle;
  x: 50%;
  y: 37%;
  text-length: 20;
}

#blockTimeLabel {
  text-anchor: middle;
  x: 50%;
  y: 27%;
  text-length: 20;
}

#numberOfLandingsLabel {
  font-size: 30;
  font-family: System-Bold;
  text-length: 20;
  text-anchor: middle;
  x: 82%;
  y: 82%;
  fill: black;
}

#stopWatch {
  font-size: 90;
  text-length: 40;
  text-anchor: middle;
  x: 50%;
  y: 50%+20;
  fill: white;
}

